<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resto</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Katalog Restaurant" />
    <meta name="keywords" content="Rifandani Resto" />
    <link rel="icon" href="../public/images/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="preload"
      crossorigin="anonymous"
      as="style"
      onload="this.onload=null; this.rel='stylesheet'"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"
      rel="preload"
      crossorigin="anonymous"
      as="style"
      onload="this.onload=null; this.rel='stylesheet'"
    />
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet"
      />
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"
      />
    </noscript>
  </head>

  <body>
    <!-- skip-link -->
    <a href="#main-content" class="skip-link">Menuju ke konten</a>

    <!-- header -->
    <header class="hero">
      <!-- nav -->
      <nav>
        <div class="menu-hp">
          <div>
            <a href="/" class="logo-font"> Resto </a>
          </div>

          <div class="menu-container">
            <button
              class="menu"
              aria-label="button menu dropdown on mobile"
              type="button"
            >
              <span class="fa fa-bars"></span>
            </button>
          </div>
        </div>

        <ul class="nav-list">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="#">Favorite</a></li>
          <li class="nav-item">
            <a
              href="https://www.linkedin.com/in/rifandani/"
              target="_blank"
              rel="noopener noreferrer"
              >About</a
            >
          </li>
        </ul>
      </nav>

      <!-- hero content -->
      <div tabindex="0" class="hero__text">
        <h1 class="hero__title">Welcome to Resto</h1>

        <p class="hero__subtitle">
          Our restaurants offer more than just great food
        </p>

        <a href="#main-content" class="btn">Read More</a>
      </div>
    </header>

    <!-- main content -->
    <main>
      <div id="main-content" class="main-content__container">
        <h2 tabindex="0" class="main-content__title">Explore Restaurant</h2>
        <section id="explore-restaurant"></section>
      </div>
    </main>

    <!-- footer -->
    <footer tabindex="0">
      <ul>
        <li>Copyright © 2021 - Resto</li>
        <li>Dicoding Submission 1</li>
      </ul>
    </footer>
  </body>
</html>
