<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resto</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Katalog Restaurant" />
    <meta name="keywords" content="Rifandani Resto" />
    <meta name="theme-color" content="#ff8303" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="manifest" href="manifest.json" />
    <link rel="apple-touch-icon" href="/icons/192x192.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css"
    />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  </head>

  <body>
    <!-- skip-link -->
    <a href="#main-content" class="skip-link">Menuju ke konten</a>

    <!-- header -->
    <header class="hero">
      <!-- nav-bar comp -->
      <nav-bar></nav-bar>

      <!-- hero-content comp -->
      <hero-content class="hero__text"></hero-content>
    </header>

    <!-- main content -->
    <main id="main-content"></main>

    <!-- custom-footer comp -->
    <custom-footer></custom-footer>
  </body>
</html>
