/*
 * footer
 */

footer {
  padding: 2em;
  width: 100%;
  text-align: center;
  border-top: 3px groove var(--font-color);
  background-color: var(--secondary-color);
}

footer ul {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  list-style: none;
}

footer li {
  margin: 0.3em 0;
  font-size: 14px;
}
