/*
 * header
 */

.hero {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  width: 100%;
  text-align: center;
  background: url('./images/hero.jpg');
  background-position: center;
  object-fit: cover;
  padding: 0 10%;
}

.hero__text {
  align-self: center;
  max-width: 600px;
  margin: auto 0;
  padding-bottom: 3em;
}

.hero__title {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: xx-large;
}

.hero__subtitle {
  color: var(--primary-color);
  margin: 16px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 300;
  word-spacing: 2px;
  line-height: 1.36em;
}
