/* DETAIL */
.detail {
  display: grid;
  grid-gap: 1.545em;
  font-size: 1em;
  margin-top: 1em;
}

.detail-img {
  width: 100%;
  height: 370px;
  object-fit: cover;
  object-position: center;
}

.detail-name-address-rating {
  display: inline-block;
}

.icon-primary {
  color: var(--btn);
}

.detail h3 {
  font-size: 1.5em;
  padding: 1em 0 0 0;
  background-color: var(--primary-color);
  font-weight: bold;
}

.detail-desc {
  text-align: justify;
  color: darkgrey;
  margin-bottom: 0.5em;
  font-style: italic;
}

.category {
  padding: 0.3em 1em;
  color: var(--primary-color);
  background-color: var(--btn);
  margin-right: 2px;
  border: 1px solid transparent;
  border-radius: 0px 10px 0px 10px;
}

.detail-menu h4 {
  font-weight: bold;
  font-size: 1.37em;
  padding: 1em;
  color: var(--btn);
  background-color: var(--primary-color);
}

.detail-food {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
}

.detail-food li {
  padding: 0.5em 0;
  display: block;
  text-decoration: none;
  background-color: var(--primary-color);
  border: 0.5px solid var(--secondary-color);
  border-width: 0 0 0.5px;
}

.detail-drink {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
}

.detail-drink li {
  padding: 0.5em 0;
  display: block;
  text-decoration: none;
  background-color: var(--primary-color);
  border: 0.5px solid var(--secondary-color);
  border-width: 0 0 0.5px;
}

.detail-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 0;
  margin-bottom: 0;
}

.detail-info li {
  position: relative;
  display: block;
  padding: 0.6em;
  color: var(--font-color);
  text-decoration: none;
  background-color: var(--primary-color);
}

/* DETAIL REVIEW */
.detail-review {
  max-width: 100%;
  font-size: 1em;
  text-align: center;
}

.detail-review-item {
  color: var(--font-color);
  background-color: var(--primary-color);
  margin-bottom: 1.5em;
  padding: 1em 1em;
}

.detail-review-item:last-child {
  margin-bottom: 0;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;
  color: var(--btn);
  border-bottom: 1px solid var(--font-color);
}

.review-name {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.review-date {
  font-size: 0.8em;
  font-weight: lighter;
}

.review-body {
  padding: 1em;
  text-align: left;
}

.category:hover,
.detail-food li:hover,
.detail-drink li:hover,
.detail-review-item:hover {
  box-shadow: 0px 10px 13px -7px var(--secondary-color),
    5px 5px 15px 5px var(--secondary-color);
}

/* FORM */
form {
  margin: 2em 0;
  padding: 1.5em;
  border: 3px dotted var(--btn-hover);
  border-radius: 0 15px 0 15px;
}

.form-control {
  display: block;
  width: 100%;
  min-height: 1em;
  padding: 0.3em;
  font-size: 1em;
  font-weight: normal;
  color: var(--font-color);
  background-color: #fff;
  appearance: none;
  outline: none;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--secondary-color);
}

.form-control:hover {
  border-bottom: 1px solid var(--btn);
}

.form-label {
  padding-bottom: 10px;
  font-weight: bold;
  font-style: normal;
  font-size: small;
  color: var(--btn);
}

.mb-3 {
  margin-bottom: 1.3em;
  margin-top: 0.5em;
}

/* LIKE BUTOON */
.like {
  font-size: 18px;
  background-color: var(--btn);
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.like:hover {
  background-color: var(--btn-hover);
}
